.div {
  font-family: 'Dog Paw Prints Font', cursive;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.TheDogApp {
  font-family: 'Dog Paw Prints Font', cursive;
  color: #744c2e;
  font-size: 4em;
  font-weight: bold;
  text-decoration: none;
  font-family: Dejavu serif;
  transition: color 0.3s ease;
}

.TheDogApp:hover {
  color: #79b3e4;
}

.imgDetail {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  filter: brightness(90%) saturate(40%) hue-rotate(10deg) sepia(8%) contrast(1.2) drop-shadow(0px 0px 0px rgba(125, 174, 214, 0.4));
  border-color: #744c2e;
  border: 4px solid #744c2e;
}

.title {
  font-size: 2em;
  font-weight: bold;
  font-family: DejaVu serif;
  color: #744c2e;
}

.circle {
  background-color: #a59395;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property {
  font-size: 1.5em;
  font-weight: bold;
  font-family: DejaVu serif;
  padding: 10px;
  text-align: center;
  background-color: #a59395;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.property2 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: DejaVu serif;
  margin-top: 10px;
}

.update {
  font-size: 1.5em;
  font-weight: bold;
  font-family: DejaVu serif;
  padding: 10px;
  background-color: #a59395;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.update2 {
  text-decoration: none;
  color: #744c2e;
}

.update2:hover {
  color: #79b3e4;
}
