.div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: url('/src/fotos/perro_boxer.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

.text {
  font-family: 'Dog Paw Prints Font', cursive;
  font-size: 1.5em;
  color: #000;
  text-shadow: 2px 2px 5px #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}
.labelContainer {
  display: flex;
  align-items: center;
  margin-top: 10px; 
}

.labelCreate {
  font-family: 'Dog Paw Prints Font', cursive;
  font-size: 1.5em;
  color: #000;
  text-shadow: 2px 2px 5px #fff;
  margin-left: 250px;
}

.labelCreate:hover {
  transform: translateY(-5px); /* Efecto de salto hacia arriba al pasar el cursor */
}

.ButtonCreate {
  font-family: 'Dog Paw Prints Font', cursive;
  background-color: rgba(76, 175, 80, 0.3);
  color: white;
  padding: 7px 13px;
  font-size: 15 px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  position: absolute;
  top: 10px; 
  left: 550px;
}
.ButtonCreate:hover {
  background-color: #744c2e; /* Cambia el color al pasar el cursor */
}


.SearchBar {
  margin-top: 10px;
}

.filterbar {
  display: flex; /* Cambiado a flex */
  justify-content: center;
  align-items: center;
  margin-top: 20px;  /* Ajusta el margen superior */
}

.filterbar select {
  margin: 0.5rem;
  border-radius: 0.25rem;
  background-color: #bde0fe;
  color: #744c2e;
  border: none;
  font-family: 'Dejavu serif', serif;
  font-size: 1.2rem;
}

.currentPage {
  font-family: 'Dejavu serif', serif;
  font-size: 1.5em;
  color: #000000;
  position: relative;
  top: 50px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 300px; 
  margin-left: 300px; 
}

.card {
  width: 50px; 
  margin-bottom: 50px; 
}
