/* SearchBar.module.css */
.SearchBarContainer {
  display: flex;
  margin-left: auto;
  margin-right: 20px; /* Ajusta el espacio a la derecha del input */
  position: relative;
  top: -30px; /* Movido hacia arriba */
}

.SearchInput {
  margin-right: 5px;
  padding: 5px;
}

.SearchButton {
  font-family: 'Dog Paw Prints Font', cursive;
  background-color: rgba(76, 175, 80, 0.3);
  color: white;
  padding: 5px 10px; /* Ajustado el padding para hacer más pequeño el botón */
  font-size: 1rem; /* Cambiado a 1rem para reducir el tamaño de la fuente */
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.SearchButton:hover {
  background-color: #744c2e;
}

.SearchButton:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(76, 175, 80, 0.3);
  border-radius: 50%;
  z-index: -1;
  animation: button-glow 1s ease-in-out infinite;
}
